---
import { Image } from "astro:assets";
import Layout from "@layouts/Page.astro";
import coming_soon from "@assets/comin-soon.png";
---

<Layout>
    <div class=" py-10 px-4 mx-auto w-full max-w-screen-xl ">
        <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl mb-6">Contact</h1>
        
        <!-- Email Section -->
        <div class="mb-4 flex ">
           <h2 class="font-bold">Email:</h2>
            <a href="mailto:krualfonso57@gmail.com" class="pl-3 hover:underline"> krualfonso57@gmail.com</a>
        </div>

        <!-- Phone Section -->
        <div class="mb-4 flex ">
            <h2 class="font-bold">Phone: </h2>
            <a href="tel:+13479642256" class="pl-3 hover:underline">347-964-2256</a>
        </div>

       
    </div>
</Layout>
