---
import Layout from "./Base.astro";
import type { Props as BaseHeadProps } from "../components/head/BaseHead.astro";
import { TopHeader, Nav } from "@components/topHeader";
import { Footer } from "@components/ui/footer";
export interface Props {
  seo?: BaseHeadProps;
}

const { seo } = Astro.props as Props;
---

<Layout seo={seo}>
  <!-- Header -->
  <TopHeader />
  <Nav />
  <div
    class="text-sm md:text-base py-10 lg:text-lg xl:text-xl text-white"
    id="page"
  >
    <slot />
  </div>

  <Footer client:visible />
</Layout>
